
<h1>Welcome to NieJestemDziekanem!</h1>
<h3>Here is description of our API:</h3>
<table style="border: solid black;">
    <tr style="background-color:rgb(61, 144, 245); border: solid black 10px;">
        <td>Endpoint</td>
        <td>Method</td>
        <td>Response</td>
        <td>Description</td>
    </tr>
    <tr style="border: solid black 3px;">
        <td>/</td>
        <td>ANY</td>
        <td>this side</td>
        <td>Description of endpoints</td>
    </tr>
    <tr style="border: solid black 3px;">
        <td>/questions</td>
        <td>GET</td>
        <td>questions</td>
        <td>sends questions</td>
    </tr>
</table>